*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.header-logo{
    max-width: 1200px; /*Igual que en principal(main)*/
    margin: 0;
    padding: 0 20px; /*Igual que en principal(main)*/
}

.logo{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr{
    width: 100%; /*La linea ocupara todo el ancho del contenedor*/
    margin: 0;
    border: 0;
    border-top: 2px solid #ddd;
}

main{
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
    align-items: flex-start;
    padding: 0 20px;
}

/*Estilos para la tabla de productos*/
.details{
    flex: 3; /*Ocupa tres partes del espacio disponible*/
    margin: 0;
    max-width: 1000px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.principal-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
    font-size: medium;
}

.row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    gap: 10px;
}


/*Estilo nombre referencia producto*/
.name{
    font-weight: bold;
}
.ref{
    font-size: smaller;
    color: #6e6e6e;
}

/*Estilo inputs botones + y -*/
.quantity{
    display: flex;
    align-items: center;
    gap: 6px;
}

.quantity input{
    width: 50px;
    text-align: center;
    font-family: inherit; /*Para que la fuente sea la del body*/
}

.quantity span{
    cursor: pointer;
}

/*Quitar las flechas (spinners de los inputs)*/
input::-webkit-outer-spin-button{
    -webkit-appearance: textfield;
    appearance:textfield;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

/*Estilos para el div del resumen*/
.summary{
    flex: 1; /*Ocupa 1 parte del espacio disponible*/
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    max-width: 350px;
    min-width: 300px;
}

.summary-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #b1a6a6;
    padding-bottom: 10px;
}

.summary-product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: medium;
    color: #0c0c0c;
}

.summary-total{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 10px;
    border-top: 2px solid #333;
    font-weight: bold;
    font-size: larger;
}
